.privacy-policy-page * {
  @apply text-primaryFont !important;
}

ol.lst-kix_lcjf9kci0n3z-3.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-3 0;
}
.lst-kix_lcjf9kci0n3z-3 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-3;
}
ul.lst-kix_llvgih34o5eg-6 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-7 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-4 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-5 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-2 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-3 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-0 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-1 {
  list-style-type: none;
}
ul.lst-kix_llvgih34o5eg-8 {
  list-style-type: none;
}
.lst-kix_u1y7k113t21u-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_lcjf9kci0n3z-8.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-8 0;
}
.lst-kix_u1y7k113t21u-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_u1y7k113t21u-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_f3qi8pn3tumc-8 {
  list-style-type: none;
}
.lst-kix_u1y7k113t21u-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_u1y7k113t21u-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_llvgih34o5eg-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_k20hz8dz2awn-1 {
  list-style-type: none;
}
ul.lst-kix_k20hz8dz2awn-0 {
  list-style-type: none;
}
.lst-kix_u1y7k113t21u-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_k20hz8dz2awn-3 {
  list-style-type: none;
}
ul.lst-kix_k20hz8dz2awn-2 {
  list-style-type: none;
}
ul.lst-kix_k20hz8dz2awn-5 {
  list-style-type: none;
}
ul.lst-kix_k20hz8dz2awn-4 {
  list-style-type: none;
}
.lst-kix_llvgih34o5eg-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_lcjf9kci0n3z-5 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-5;
}
ul.lst-kix_k20hz8dz2awn-7 {
  list-style-type: none;
}
ul.lst-kix_k20hz8dz2awn-6 {
  list-style-type: none;
}
.lst-kix_iecn87mcchf6-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_u1y7k113t21u-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_llvgih34o5eg-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_u1y7k113t21u-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_iecn87mcchf6-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iecn87mcchf6-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_u1y7k113t21u-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iecn87mcchf6-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_lcjf9kci0n3z-2.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-2 0;
}
.lst-kix_iecn87mcchf6-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_iecn87mcchf6-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iecn87mcchf6-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iecn87mcchf6-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_k20hz8dz2awn-8 {
  list-style-type: none;
}
.lst-kix_iecn87mcchf6-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_llvgih34o5eg-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_llvgih34o5eg-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_llvgih34o5eg-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_f3qi8pn3tumc-6 {
  list-style-type: none;
}
ul.lst-kix_f3qi8pn3tumc-7 {
  list-style-type: none;
}
.lst-kix_llvgih34o5eg-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_llvgih34o5eg-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_f3qi8pn3tumc-4 {
  list-style-type: none;
}
ul.lst-kix_f3qi8pn3tumc-5 {
  list-style-type: none;
}
ul.lst-kix_f3qi8pn3tumc-2 {
  list-style-type: none;
}
ul.lst-kix_f3qi8pn3tumc-3 {
  list-style-type: none;
}
.lst-kix_llvgih34o5eg-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_f3qi8pn3tumc-0 {
  list-style-type: none;
}
ul.lst-kix_f3qi8pn3tumc-1 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-8 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-7 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-6 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-5 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-4 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-3 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-2 {
  list-style-type: none;
}
ul.lst-kix_9agxoa6wtwxy-1 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_lcjf9kci0n3z-8 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-8;
}
.lst-kix_92mu7bobyzwi-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_92mu7bobyzwi-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_92mu7bobyzwi-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_k20hz8dz2awn-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_9agxoa6wtwxy-0 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-7.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-7 0;
}
ol.lst-kix_lcjf9kci0n3z-6 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-5 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-4 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-3 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-2 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-0 {
  list-style-type: none;
}
.lst-kix_xlrzln1r5e75-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_xlrzln1r5e75-0 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_lcjf9kci0n3z-8 {
  list-style-type: none;
}
ol.lst-kix_lcjf9kci0n3z-7 {
  list-style-type: none;
}
.lst-kix_f3qi8pn3tumc-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_f3qi8pn3tumc-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_lcjf9kci0n3z-5.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-5 0;
}
.lst-kix_f3qi8pn3tumc-8 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_lcjf9kci0n3z-4.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-4 0;
}
.lst-kix_f3qi8pn3tumc-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_f3qi8pn3tumc-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_9agxoa6wtwxy-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_9agxoa6wtwxy-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_9agxoa6wtwxy-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_9agxoa6wtwxy-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_9agxoa6wtwxy-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_lcjf9kci0n3z-2 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-2;
}
.lst-kix_9agxoa6wtwxy-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_9agxoa6wtwxy-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_lcjf9kci0n3z-0 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-0, decimal) ". ";
}
.lst-kix_lcjf9kci0n3z-1 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_lcjf9kci0n3z-0.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-0 0;
}
.lst-kix_lcjf9kci0n3z-2 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-2, lower-roman) ". ";
}
.lst-kix_lcjf9kci0n3z-3 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-3, decimal) ". ";
}
.lst-kix_lcjf9kci0n3z-5 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-5, lower-roman) ". ";
}
.lst-kix_lcjf9kci0n3z-4 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-4, lower-latin) ". ";
}
.lst-kix_lcjf9kci0n3z-8 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-8, lower-roman) ". ";
}
.lst-kix_lcjf9kci0n3z-4 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-4;
}
ol.lst-kix_lcjf9kci0n3z-6.start {
  counter-reset: lst-ctn-kix_lcjf9kci0n3z-6 0;
}
.lst-kix_lcjf9kci0n3z-7 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-7, lower-latin) ". ";
}
.lst-kix_lcjf9kci0n3z-6 > li:before {
  content: "" counter(lst-ctn-kix_lcjf9kci0n3z-6, decimal) ". ";
}
.lst-kix_ym9eqgo9rigd-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ym9eqgo9rigd-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ym9eqgo9rigd-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ym9eqgo9rigd-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ym9eqgo9rigd-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_xlrzln1r5e75-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_xlrzln1r5e75-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ym9eqgo9rigd-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ym9eqgo9rigd-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_xlrzln1r5e75-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ym9eqgo9rigd-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_xlrzln1r5e75-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ym9eqgo9rigd-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_k20hz8dz2awn-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_xlrzln1r5e75-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_k20hz8dz2awn-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_k20hz8dz2awn-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_xlrzln1r5e75-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_k20hz8dz2awn-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_k20hz8dz2awn-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_k20hz8dz2awn-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_k20hz8dz2awn-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_92mu7bobyzwi-7 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-8 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-1 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-2 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-0 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-5 {
  list-style-type: none;
}
.lst-kix_9agxoa6wtwxy-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_92mu7bobyzwi-6 {
  list-style-type: none;
}
ul.lst-kix_92mu7bobyzwi-3 {
  list-style-type: none;
}
.lst-kix_9agxoa6wtwxy-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_k20hz8dz2awn-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_92mu7bobyzwi-4 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-7 {
  list-style-type: none;
}
ul.lst-kix_lcjf9kci0n3z-1 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-6 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-5 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-4 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_xlrzln1r5e75-8 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_u1y7k113t21u-5 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-7 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-6 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-6 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_u1y7k113t21u-7 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-5 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-8 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-0 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-4 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-1 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-3 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_ym9eqgo9rigd-2 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-2 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-3 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-1 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-4 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-0 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-5 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-6 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-7 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-0 {
  list-style-type: none;
}
ul.lst-kix_ym9eqgo9rigd-8 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-1 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-3 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-2 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-2 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-3 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-1 {
  list-style-type: none;
}
ul.lst-kix_u1y7k113t21u-4 {
  list-style-type: none;
}
ul.lst-kix_xlrzln1r5e75-0 {
  list-style-type: none;
}
ul.lst-kix_iecn87mcchf6-8 {
  list-style-type: none;
}
.lst-kix_92mu7bobyzwi-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_xlrzln1r5e75-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_lcjf9kci0n3z-7 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-7;
}
.lst-kix_lcjf9kci0n3z-0 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-0;
}
.lst-kix_lcjf9kci0n3z-6 > li {
  counter-increment: lst-ctn-kix_lcjf9kci0n3z-6;
}
.lst-kix_f3qi8pn3tumc-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_f3qi8pn3tumc-7 > li:before {
  content: "\0025cb   ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_f3qi8pn3tumc-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_f3qi8pn3tumc-3 > li:before {
  content: "\0025cf   ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c0 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c1 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c7 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c10 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}
.c11 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c13 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal;
}
.c8 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c14 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}
.c5 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c3 {
  padding: 0;
  margin: 0;
}
.c12 {
  color: inherit;
  text-decoration: inherit;
}
.c4 {
  font-weight: 700;
}
.c15 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}