.return-refund-cancellation-policy-page * {
  @apply text-primaryFont !important;
}

.lst-kix_eu48vccs7fui-7 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-7, lower-latin) ". ";
}
ul.lst-kix_1mepr3d94o8c-1 {
  list-style-type: none;
}
.lst-kix_eu48vccs7fui-8 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-8, lower-roman) ". ";
}
.lst-kix_eu48vccs7fui-5 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-5, lower-roman) ". ";
}
.lst-kix_eu48vccs7fui-6 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-6, decimal) ". ";
}
ol.lst-kix_eu48vccs7fui-4.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-4 0;
}
.lst-kix_1mepr3d94o8c-8 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-8;
}
.lst-kix_eu48vccs7fui-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_eu48vccs7fui-5 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-5;
}
.lst-kix_eu48vccs7fui-0 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-0, decimal) ". ";
}
.lst-kix_eu48vccs7fui-4 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-4, lower-latin) ". ";
}
.lst-kix_eu48vccs7fui-3 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-3, decimal) ". ";
}
.lst-kix_eu48vccs7fui-2 > li:before {
  content: "" counter(lst-ctn-kix_eu48vccs7fui-2, lower-roman) ". ";
}
.lst-kix_eu48vccs7fui-7 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-7;
}
ol.lst-kix_1mepr3d94o8c-3.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-3 0;
}
ol.lst-kix_eu48vccs7fui-5.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-5 0;
}
ol.lst-kix_1mepr3d94o8c-4.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-4 0;
}
.lst-kix_1mepr3d94o8c-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_g3if2rm7z846-5 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-4 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-3.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-3 0;
}
ul.lst-kix_g3if2rm7z846-3 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-2 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-1 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-0 {
  list-style-type: none;
}
ol.lst-kix_1mepr3d94o8c-5.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-5 0;
}
.lst-kix_1mepr3d94o8c-3 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-3, decimal) ". ";
}
ul.lst-kix_g3if2rm7z846-8 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-7 {
  list-style-type: none;
}
ul.lst-kix_g3if2rm7z846-6 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-0.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-0 0;
}
.lst-kix_3b4t27r9awxa-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_1mepr3d94o8c-8.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-8 0;
}
.lst-kix_1mepr3d94o8c-3 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-3;
}
.lst-kix_6z6q9wl5sh8w-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3b4t27r9awxa-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_6z6q9wl5sh8w-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3b4t27r9awxa-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3b4t27r9awxa-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sbgj5ks99837-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_1mepr3d94o8c-7.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-7 0;
}
.lst-kix_sbgj5ks99837-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_g3if2rm7z846-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_y1c0lk11zy75-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sbgj5ks99837-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_y1c0lk11zy75-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_1mepr3d94o8c-2 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-2;
}
ul.lst-kix_toj16b81y2a6-8 {
  list-style-type: none;
}
ul.lst-kix_eu48vccs7fui-1 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-7 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-6 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-5 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-4 {
  list-style-type: none;
}
.lst-kix_6z6q9wl5sh8w-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_y1c0lk11zy75-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_toj16b81y2a6-3 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-2 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-1 {
  list-style-type: none;
}
ul.lst-kix_toj16b81y2a6-0 {
  list-style-type: none;
}
.lst-kix_y1c0lk11zy75-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sbgj5ks99837-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_6z6q9wl5sh8w-1 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_eu48vccs7fui-2.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-2 0;
}
.lst-kix_g3if2rm7z846-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_eu48vccs7fui-0 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-0;
}
.lst-kix_g3if2rm7z846-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_g3if2rm7z846-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_eu48vccs7fui-6 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-6;
}
.lst-kix_sbgj5ks99837-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_n6ygmq5e3olc-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_n6ygmq5e3olc-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_n6ygmq5e3olc-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_n6ygmq5e3olc-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_eu48vccs7fui-7 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-8 {
  list-style-type: none;
}
.lst-kix_n6ygmq5e3olc-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_n6ygmq5e3olc-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_eu48vccs7fui-5 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-6 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-3 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-4 {
  list-style-type: none;
}
.lst-kix_n6ygmq5e3olc-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_n6ygmq5e3olc-3 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-2 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-2 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-1 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-0 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-0 {
  list-style-type: none;
}
ol.lst-kix_eu48vccs7fui-7.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-7 0;
}
ol.lst-kix_1mepr3d94o8c-2 {
  list-style-type: none;
}
ol.lst-kix_1mepr3d94o8c-3 {
  list-style-type: none;
}
.lst-kix_eu48vccs7fui-4 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-4;
}
ol.lst-kix_1mepr3d94o8c-0 {
  list-style-type: none;
}
.lst-kix_n6ygmq5e3olc-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_1mepr3d94o8c-6 {
  list-style-type: none;
}
.lst-kix_toj16b81y2a6-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_1mepr3d94o8c-7 {
  list-style-type: none;
}
ol.lst-kix_1mepr3d94o8c-4 {
  list-style-type: none;
}
.lst-kix_toj16b81y2a6-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_toj16b81y2a6-3 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_1mepr3d94o8c-5 {
  list-style-type: none;
}
.lst-kix_toj16b81y2a6-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_toj16b81y2a6-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_1mepr3d94o8c-8 {
  list-style-type: none;
}
.lst-kix_1mepr3d94o8c-0 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-0;
}
ol.lst-kix_1mepr3d94o8c-6.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-6 0;
}
.lst-kix_eu48vccs7fui-2 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-2;
}
.lst-kix_n6ygmq5e3olc-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_toj16b81y2a6-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_toj16b81y2a6-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_toj16b81y2a6-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_toj16b81y2a6-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_1mepr3d94o8c-7 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-7;
}
ul.lst-kix_6z6q9wl5sh8w-1 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-2 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-0 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-5 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-6 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-3 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-4 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-7 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-8 {
  list-style-type: none;
}
ul.lst-kix_6z6q9wl5sh8w-8 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-7 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-6 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-5 {
  list-style-type: none;
}
ul.lst-kix_n6ygmq5e3olc-4 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-0 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-1 {
  list-style-type: none;
}
.lst-kix_1mepr3d94o8c-8 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-8, lower-roman) ". ";
}
ul.lst-kix_sbgj5ks99837-2 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-3 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-4 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-5 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-6 {
  list-style-type: none;
}
ul.lst-kix_sbgj5ks99837-7 {
  list-style-type: none;
}
.lst-kix_1mepr3d94o8c-5 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-5, lower-roman) ". ";
}
ul.lst-kix_sbgj5ks99837-8 {
  list-style-type: none;
}
.lst-kix_1mepr3d94o8c-6 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-6, decimal) ". ";
}
.lst-kix_1mepr3d94o8c-7 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-7, lower-latin) ". ";
}
.lst-kix_1mepr3d94o8c-4 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-4;
}
ol.lst-kix_eu48vccs7fui-6.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-6 0;
}
.lst-kix_1mepr3d94o8c-0 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-0, decimal) ". ";
}
.lst-kix_1mepr3d94o8c-2 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-2, lower-roman) ". ";
}
.lst-kix_1mepr3d94o8c-4 > li:before {
  content: "" counter(lst-ctn-kix_1mepr3d94o8c-4, lower-latin) ". ";
}
.lst-kix_1mepr3d94o8c-5 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-5;
}
.lst-kix_3b4t27r9awxa-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3b4t27r9awxa-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_1mepr3d94o8c-6 > li {
  counter-increment: lst-ctn-kix_1mepr3d94o8c-6;
}
.lst-kix_eu48vccs7fui-8 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-8;
}
.lst-kix_3b4t27r9awxa-6 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_1mepr3d94o8c-2.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-2 0;
}
.lst-kix_6z6q9wl5sh8w-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_3b4t27r9awxa-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_6z6q9wl5sh8w-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3b4t27r9awxa-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sbgj5ks99837-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sbgj5ks99837-3 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_1mepr3d94o8c-0.start {
  counter-reset: lst-ctn-kix_1mepr3d94o8c-0 0;
}
.lst-kix_y1c0lk11zy75-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_g3if2rm7z846-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sbgj5ks99837-5 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_eu48vccs7fui-8.start {
  counter-reset: lst-ctn-kix_eu48vccs7fui-8 0;
}
.lst-kix_y1c0lk11zy75-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_3b4t27r9awxa-7 {
  list-style-type: none;
}
ul.lst-kix_3b4t27r9awxa-8 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-0 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-1 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-2 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-3 {
  list-style-type: none;
}
.lst-kix_6z6q9wl5sh8w-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_y1c0lk11zy75-4 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-5 {
  list-style-type: none;
}
.lst-kix_y1c0lk11zy75-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_y1c0lk11zy75-6 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-7 {
  list-style-type: none;
}
ul.lst-kix_y1c0lk11zy75-8 {
  list-style-type: none;
}
.lst-kix_sbgj5ks99837-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_6z6q9wl5sh8w-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_6z6q9wl5sh8w-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_y1c0lk11zy75-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_g3if2rm7z846-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_eu48vccs7fui-3 > li {
  counter-increment: lst-ctn-kix_eu48vccs7fui-3;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_y1c0lk11zy75-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_3b4t27r9awxa-5 {
  list-style-type: none;
}
.lst-kix_g3if2rm7z846-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_3b4t27r9awxa-6 {
  list-style-type: none;
}
ul.lst-kix_3b4t27r9awxa-3 {
  list-style-type: none;
}
ul.lst-kix_3b4t27r9awxa-4 {
  list-style-type: none;
}
.lst-kix_g3if2rm7z846-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_3b4t27r9awxa-1 {
  list-style-type: none;
}
.lst-kix_g3if2rm7z846-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_3b4t27r9awxa-2 {
  list-style-type: none;
}
ul.lst-kix_3b4t27r9awxa-0 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c0 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c13 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}
.c11 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal;
}
.c14 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c9 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c12 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}
.c5 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c7 {
  color: inherit;
  text-decoration: inherit;
}
.c6 {
  padding: 0;
  margin: 0;
}
.c10 {
  margin-left: 36pt;
}
.c1 {
  font-weight: 700;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}