/* Carousel Pagination Dots */

.alice-carousel__dots {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px 0;
  z-index: 10;

  & .alice-carousel__dots-item {
    background-color: rgba(255, 255, 255, 0.5);

    &.__active {
      background-color: #FFFFFF;
    }
  }
}