@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

main {
  &:not(:has(div.homepage)) {
    margin-top: 6.75rem;
  }

  &:not(:has(div.no-pb)) {
    padding-bottom: 4rem;
  }
}

footer {
  align-self: end;
}

/* 404 Page */
main {
  & h1.next-error-h1,
  & > div > div > div > h2 {
    @apply text-primaryFont;
  }
}

/* Utilities */

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {

  input::selection.input-selection-primaryFont {
    @apply bg-primaryFont text-white;
  }

  input::selection.input-selection-black {
    @apply bg-black text-white;
  }

  textarea::selection.input-selection-primaryFont {
    @apply bg-primaryFont text-white;
  }

  textarea::selection.input-selection-black{
    @apply bg-black text-white;
  }

  .text-balance {
    text-wrap: balance;
  }

  
  .bullet-all {
    list-style: none;
    padding: 0;
    margin: 0;

    & > * {
      display: flex;
      align-items: flex-start;
    }
    
    & > *::before {
      content: "•";
      margin-right: 10px;
      font-size: 16px;
      line-height: 1;
    }
  }
  
  .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay-black-10::after {
    @apply overlay opacity-10 bg-black;
  }

  .overlay-black-20::after {
    @apply overlay opacity-20 bg-black;
  }

  .overlay-black-30::after {
    @apply overlay opacity-30 bg-black;
  }

  .overlay-black-40::after {
    @apply overlay opacity-40 bg-black;
  }

  .overlay-black-50::after {
    @apply overlay opacity-50 bg-black ;
  }
}